.bg{
    background: rgba(0, 0, 0, 0.507); /*url('../../Images/CardBackground.png');*/
    background-blend-mode: darken;
    /*height: 100vh;*/
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.description{
    display: flex;
    flex-direction: column;
}