.btn1 {
  border-radius: 4px;
  height: 48px;
  background: none;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  font-size: 1.8rem;
  color: black;
  margin: 10px;
}
.btn1:hover{
  background-color: #c28f30;
}

#pass
{
  width: 190px;
}

#confirm
{
  height: 35px;
}